[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
botocore = "*"
tqdm = "*"
pyarrow = "*"
gspreed = "*"
pip = "*"
pandasgui = "*"
mmh3 = "*"
utils-pkg = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
