[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datetime = "*"
gspread = "*"
tqdm = "*"
mmh3 = "*"
boto3 = "*"
botocore = "*"

[dev-packages]
pandas = "*"
pyarrow = "*"
pandasgui = "*"

[requires]
python_version = "3.10"